

.tasks {
  &__title {

    font-size: 32px;
    line-height: 39px;
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    color: #64C4ED;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 20px;
  }
}