* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 1px 2px 20px #f3f3f3;

  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 80px);
    border-right: 2px solid #f1f1f1;
    padding: 40px 20px;
  }
}